
.jumbotron{

	background-color: rgb(0,0,255,0.3);
	color: white;
    margin: 40px 0em 0 auto;

}

.btn {
	background-color: blue;
	color: black;
	padding-top: 10px;
}

	footer{
  padding:20px 0px 0px 0px;
	background-color: rgb(0,0,0,1);
	margin: 20px 0em 0 auto;

}



.card-tiendavirtual{
	flex: 1 200px;
	margin-top: 10px;

}

.btn-reserva {
	width: 100%;
	border-radius:0px;
  ;


}

.footer-address-icon {
	padding-right: 10px;
	color:white;


}

.tab-content {
	padding-top: 10px;

}
