$ cafe: #302b1b;

.margenes(@top:0px, @bottom: 0px){
  margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{

	background-color: $marron ;
	color: white;
  .margen(50 px, 0px)

}

.btn {
	background-color: blue;
	color: black;
	padding-top: 10px;
}

	footer{
  padding:20px 0px 0px 0px;
	background-color: rgb(0,0,0,1);
.margen(10 px, 0px)

}



.card-tiendavirtual{
	flex: 1 200px;
  .margen(50 px, 0px)

}

.btn-reserva {
	width: 100%;
	border-radius:0px;
  ;


}

.footer-address-icon {
	padding-right: 10px;
	color:white;


}

.tab-content {
	padding-top: 10px;

}
